In [135]:
import pandas as pd

In [136]:
from sklearn.model_selection import train_test_split

In [137]:
x=pd.read_csv(r'C:\Users\yuvra\Desktop\Heart.csv')
print(x.head())

   Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0           1   63    1       typical     145   233    1        2    150
1           2   67    1  asymptomatic     160   286    0        2    108
2           3   67    1  asymptomatic     120   229    0        2    129
3           4   37    1    nonanginal     130   250    0        0    187
4           5   41    0    nontypical     130   204    0        2    172

   ExAng  Oldpeak  Slope   Ca        Thal  AHD
0      0      2.3      3  0.0       fixed   No
1      1      1.5      2  3.0      normal  Yes
2      1      2.6      2  2.0  reversable  Yes
3      0      3.5      3  0.0      normal   No
4      0      1.4      1  0.0      normal   No

In [138]:
shape=x.shape
print('shape={}'.format(shape))

shape=(303, 15)

In [139]:
null=x.isnull()
print(null)

     Unnamed: 0    Age    Sex  ChestPain  RestBP   Chol    Fbs  RestECG  \
0         False  False  False      False   False  False  False    False
1         False  False  False      False   False  False  False    False
2         False  False  False      False   False  False  False    False
3         False  False  False      False   False  False  False    False
4         False  False  False      False   False  False  False    False
..          ...    ...    ...        ...     ...    ...    ...      ...
298       False  False  False      False   False  False  False    False
299       False  False  False      False   False  False  False    False
300       False  False  False      False   False  False  False    False
301       False  False  False      False   False  False  False    False
302       False  False  False      False   False  False  False    False

     MaxHR  ExAng  Oldpeak  Slope     Ca   Thal    AHD
0    False  False    False  False  False  False  False
1    False  False    False  False  False  False  False
2    False  False    False  False  False  False  False
3    False  False    False  False  False  False  False
4    False  False    False  False  False  False  False
..     ...    ...      ...    ...    ...    ...    ...
298  False  False    False  False  False  False  False
299  False  False    False  False  False  False  False
300  False  False    False  False  False  False  False
301  False  False    False  False  False  False  False
302  False  False    False  False   True  False  False

[303 rows x 15 columns]

In [140]:
types=x.dtypes
print(types)

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [141]:
print(x.head)

<bound method NDFrame.head of      Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0             1   63    1       typical     145   233    1        2    150
1             2   67    1  asymptomatic     160   286    0        2    108
2             3   67    1  asymptomatic     120   229    0        2    129
3             4   37    1    nonanginal     130   250    0        0    187
4             5   41    0    nontypical     130   204    0        2    172
..          ...  ...  ...           ...     ...   ...  ...      ...    ...
298         299   45    1       typical     110   264    0        0    132
299         300   68    1  asymptomatic     144   193    1        0    141
300         301   57    1  asymptomatic     130   131    0        0    115
301         302   57    0    nontypical     130   236    0        2    174
302         303   38    1    nonanginal     138   175    0        0    173

     ExAng  Oldpeak  Slope   Ca        Thal  AHD
0        0      2.3      3  0.0       fixed   No
1        1      1.5      2  3.0      normal  Yes
2        1      2.6      2  2.0  reversable  Yes
3        0      3.5      3  0.0      normal   No
4        0      1.4      1  0.0      normal   No
..     ...      ...    ...  ...         ...  ...
298      0      1.2      2  0.0  reversable  Yes
299      0      3.4      2  2.0  reversable  Yes
300      1      1.2      2  1.0  reversable  Yes
301      0      0.0      2  1.0      normal  Yes
302      0      0.0      1  NaN      normal   No

[303 rows x 15 columns]>

In [142]:
print(x.tail)

<bound method NDFrame.tail of      Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0             1   63    1       typical     145   233    1        2    150
1             2   67    1  asymptomatic     160   286    0        2    108
2             3   67    1  asymptomatic     120   229    0        2    129
3             4   37    1    nonanginal     130   250    0        0    187
4             5   41    0    nontypical     130   204    0        2    172
..          ...  ...  ...           ...     ...   ...  ...      ...    ...
298         299   45    1       typical     110   264    0        0    132
299         300   68    1  asymptomatic     144   193    1        0    141
300         301   57    1  asymptomatic     130   131    0        0    115
301         302   57    0    nontypical     130   236    0        2    174
302         303   38    1    nonanginal     138   175    0        0    173

     ExAng  Oldpeak  Slope   Ca        Thal  AHD
0        0      2.3      3  0.0       fixed   No
1        1      1.5      2  3.0      normal  Yes
2        1      2.6      2  2.0  reversable  Yes
3        0      3.5      3  0.0      normal   No
4        0      1.4      1  0.0      normal   No
..     ...      ...    ...  ...         ...  ...
298      0      1.2      2  0.0  reversable  Yes
299      0      3.4      2  2.0  reversable  Yes
300      1      1.2      2  1.0  reversable  Yes
301      0      0.0      2  1.0      normal  Yes
302      0      0.0      1  NaN      normal   No

[303 rows x 15 columns]>

In [143]:
x

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [144]:
x.tail()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [145]:
x.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [146]:
x.isnull()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [147]:
x.count()

Unnamed: 0    303
Age           303
Sex           303
ChestPain     303
RestBP        303
Chol          303
Fbs           303
RestECG       303
MaxHR         303
ExAng         303
Oldpeak       303
Slope         303
Ca            299
Thal          301
AHD           303
dtype: int64

In [148]:
x[x==0]

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN
4,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
300,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
302,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [149]:
x["Age"].mean()

np.float64(54.43894389438944)

In [150]:
x["Chol"].mean()

np.float64(246.69306930693068)

In [151]:
x["Chol"].median()

np.float64(241.0)

In [164]:
x["RestBP"].mode()

0    120
Name: RestBP, dtype: int64

In [153]:
x["Chol"].mode()

0    197
1    204
2    234
Name: Chol, dtype: int64

In [154]:
selected_column=['Age' , 'Sex' , 'ChestPain' , 'RestBP' , 'Chol']
x_selected_column=x[selected_column]

In [155]:
x_selected_column

     Age  Sex     ChestPain  RestBP  Chol
0     63    1       typical     145   233
1     67    1  asymptomatic     160   286
2     67    1  asymptomatic     120   229
3     37    1    nonanginal     130   250
4     41    0    nontypical     130   204
..   ...  ...           ...     ...   ...
298   45    1       typical     110   264
299   68    1  asymptomatic     144   193
300   57    1  asymptomatic     130   131
301   57    0    nontypical     130   236
302   38    1    nonanginal     138   175

[303 rows x 5 columns]

In [157]:
heart_train, heart_test=train_test_split(x_selected_column, test_size=0.25, random_state=104, shuffle=True)

In [158]:
heart_test

     Age  Sex     ChestPain  RestBP  Chol
104   49    1    nonanginal     120   188
9     53    1  asymptomatic     140   203
161   77    1  asymptomatic     125   304
250   57    1  asymptomatic     110   201
244   60    0    nonanginal     120   178
..   ...  ...           ...     ...   ...
262   60    0       typical     150   240
123   55    1  asymptomatic     140   217
202   57    1    nonanginal     150   126
10    57    1  asymptomatic     140   192
97    60    0  asymptomatic     150   258

[76 rows x 5 columns]

In [160]:
heart_train

     Age  Sex     ChestPain  RestBP  Chol
293   63    1  asymptomatic     140   187
115   41    1    nontypical     135   203
272   46    1  asymptomatic     140   311
64    54    1  asymptomatic     120   188
17    54    1  asymptomatic     140   239
..   ...  ...           ...     ...   ...
142   52    1    nontypical     128   205
251   58    1  asymptomatic     146   218
217   46    0  asymptomatic     138   243
193   62    0  asymptomatic     138   294
69    46    1    nonanginal     150   231

[227 rows x 5 columns]

In [163]:
N=500
p=100
Actual_positive=50
TP=45

FP=p-TP
FN=Actual_positive-TP
TN=N-(TP+FP+FN)

Accuracy=(TP+TN)/N
Precision=TP/(TP+FP)
Recall=TP/(TP+FN)

print("Confusion Matrix")
print(f"{TP}\t{FP}\n")
print(f"{FN}\t{TN}")

print("\n")
print("Matrices final answer:")
print("Accuracy" , Accuracy)
print("Precision" , Precision)
print("Recall" , Recall)

Confusion Matrix
45	55

5	395


Matrices final answer:
Accuracy 0.88
Precision 0.45
Recall 0.9